* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  body {
    min-width: 320px;
  }

  .margin-2{
    margin-right: 5em !important;
  }

  @font-face {
    font-family: 'vietnamBold';
    src: url('./assets/fonts/vietnam/BeVietnamPro-Bold.ttf');
  }
  @font-face {
    font-family: 'vietnamMedium';
    src: url('./assets/fonts/vietnam/BeVietnamPro-Medium.ttf');
  }
  @font-face {
    font-family: 'vietnamRegular';
    src: url('./assets/fonts/vietnam/BeVietnamPro-Regular.ttf');
  }
  @font-face {
    font-family: 'poppinssemibold';
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
  }
  @font-face {
    font-family: 'poppinslight';
    src: url('./assets/fonts/poppins/Poppins-Light.ttf');
  }
  @font-face {
    font-family: 'poppinsregular';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'poppinsmedium';
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
  }

  .tooltipcheckout{
    background: #E23428;
  }
  .tooltipinprogress{
    background: #FF9C3A;
  }
  .tooltipcheckin{
    background: #135846;
  }
  .tooltipcheckout,.tooltipinprogress,.tooltipcheckin{
    color: #fff;
    font-family: 'poppinsregular';
    font-size: .8rem;
    padding: .3em;
    border-radius: 1em;
    z-index: 1000;
  }
  
  @keyframes slidein{
    0% {
        padding-left: 5%;
    }
  
    100% {
        padding-left: 25%;
    }
  }

  @keyframes slideout{
    0% {
        left: -30%;
    }
  
    100% {
        left: 0;
    }
  }

  @keyframes slidecontent{
    0% {
        transform: translateX(-30%);
    }
  
    100% {
      transform: translateX(0px);
    }
  }